body{
    margin: 0;
    font-family: 'PT Serif', serif;
}

main{
    max-width: 1000px;
    margin: 0 auto;
}

h1{
    text-align: center;
}

img{
    width: 450px;
    display: block;
    margin: 0 auto;
}

.division{
    display: flex;
}

.geo{
    width: 50%;
    padding: 20px;
}

.geo h2{
    text-align: center;
}

.demo{
    width: 50%;
    padding: 20px;
}

.demo h2{
    text-align: center;
}