body{
    margin: 0;
    color: #61210F;
    background-color: #FAF4DE;
}
h1{
    text-align: center;
    margin-top: 5px;
}
main {
    width: 600px;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
}

.imagen{
    display: block;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    border: solid 6px #7c2a13;
}